<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6 p-5 px-sm-0">
        <h4 class="mb-4">会員情報編集</h4>
        <%= form_with model: @customer,url: customer_customer_path(@customer.id),local: true do |f| %>
          <div class="field">
            <%= f.label :名前,class: "mr-5 mb-2 " %>(性)<%= f.text_field :last_name,autofocus: true,class: "ml-3 mr-3 mb-3" %>
            (名）<%= f.text_field :first_name,autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :フリガナ %>（セイ）<%= f.text_field :last_name_kana,autofocus: true %>（メイ）<%= f.text_field :first_name_kana,autofocus: true,class: "mb-3" %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス,class: "mr-3" %> <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "mb-3" %>
          </div>

          <div class="field">
            <%= f.label :郵便番号（ハイフンなし）%> <%= f.text_field :postal_code,autofocus: true,class: "mb-3" %>
          </div>

          <div class="field">
            <%= f.label :住所,class: "mr-5" %> <%= f.text_field :address,autofocus: true,class: "mb-3" %>
          </div>

          <div class="field">
            <%= f.label :電話番号（ハイフンなし）%> <%= f.text_field :telephone_number,autofocus: true,class: "mb-3" %>
          </div>

          <div class="actions">
              <%= f.submit "編集内容を保存",class: "ml-5 btn btn-success" %> <%= link_to "退会する", customer_exit_path(@customer.id), class: "btn btn-danger ml-5" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</main>