<main>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h5 class="mt-5 mb-5">注文履歴詳細</h5>
        <p>注文情報</p>
        <table class="table">
          <tr>
            <th scope="col">注文日</th><td><%= oder.create_at %></td>
          </tr>

          <tr>
            <th scope="col">配送先</th>
            <td>
              〒<%= oder.postal_code %><br>
              <%= oder.address %><br>
              <%= oder.name %>
            </td>
          </tr>

          <tr>
            <th scope="col">支払い方法</th><td><%= oder.payment_method %></td>
          </tr>

          <tr>
            <th scope="col">ステータス</th><td><%= oder.status %></td>
          </tr>
        </table>
      </div>
      <div class="col-3 mt-5 pt-5">
          <p class="mt-4">請求情報</p>
          <table class="table">
            <tr>
              <th scope="col">商品合計</th><td></td>
            </tr>

            <tr>
              <th scope="col">配送料</th><td></td>
            </tr>

            <tr>
              <th scope="col">ご請求額</th><td></td>
            </tr>

          </table>
        </div>
    </div>

    <div class="row">
      <div class="col-8 mt-3">
          <p class="mt-4">注文内容</p>
          <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">商品</th>
              <th scope="col">単価（税込）</th>
              <th scope="col">個数</th>
              <th scope="col">小計</th>
            </tr>
          </thead>
          <% @oders.each do |oder| %>
            <tbody>
              <tr>
                <td><%= oder.oder_item.name %></td>
                <td><%= oder.oder_item.ax_in_price.floor %></td>
                <td><%= oder.oder_item.volume %></td>
                <td>
                 <% prise = oder.oder_item.volume*oder.oder_item.ax_in_price.floor %>
                 <%= prise %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</main>