<main>
  <h3 class="title mt-5 ml-5">商品一覧(全<%= @items.count %>件)</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @items.each do |item| %>
    <div class="col text-center mt-5">
      <div class="card">
        <%= link_to customer_item_path(item.id) do %>
          <%= attachment_image_tag item, :image, :fill, 120, 120, format: 'jpeg' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.tax_out_price %>円</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate @items %>
</main>