<div class="text-danger">
<% if @genre.errors.any? %>
   <span class="h4"><%= @genre.errors.count %>errors prohibited this obj from being saved:</span>
  <% @genre.errors.full_messages.each do |message| %><br>
     ・<%= message %>
  <% end %>
<% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="head-line mb-5">ジャンル一覧・追加</h3>
      <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
        <p class="mb-5">ジャンル名 <%= f.text_field :name %> <%= f.submit '新規登録', class: "glyphicon glyphicon-pencil btn btn-warning" %></p>
      <% end %>
      <div class="col-xs-8 col-xs-offset-2">
        <table class="table">
          <thead>
            <tr>
              <th class="table-active">ジャンル</th>
              <th class="table-active"></th>
            <tr/>
          </thead>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-outline-primary" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
