<div class="container">
  <div class="row">
    <div class="col-sm-10 px-sm-0">
      <h3>管理者ログイン</h3>

      <%= form_for(resource, as: resource_name, url: admin_session_path(resource_name)) do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr class="form-group">
              <td><%= f.label :メールアドレス %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %></td>
            </tr>
            <tr class="form-group">
              <td><%= f.label :パスワード %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
            </tr>
            <tr class="action">
              <td colspan="1"></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</div>

