<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to "LOGO", root_path, class: "navbar-brand p-3 border border-primary" %>
          <div class="collapse navbar-collapse">
            <% if customer_signed_in? %>
              <ul class="navbar-nav ml-auto ">
                <li class="nav-item mr-4 pt-2">ようこそ、<%= current_customer.last_name %>さん！</li>
                <li class="nav-item mr-4 border border-primary"><%= link_to "マイページ", customer_path(current_customer.id),class: "nav-link text-dark" %></li>
                <li class="nav-item mr-4 border border-primary"><%= link_to "商品一覧", customer_items_path ,class: "nav-link text-dark" %></li>
                <li class="nav-item mr-4 border border-primary"><%= link_to "カート", customer_cart_items_path,class: "nav-link text-dark" %></li>
                <li class="nav-item mr-4 border border-primary"><%= link_to "ログアウト" , destroy_customer_session_path,method: :delete,class: "nav-link text-dark" %></li>
              </ul>
            <% else %>
              <ul class="navbar-nav ml-auto ">
                <li class="nav-item mr-4 border border-primary"><%= link_to "About", homes_about_path,class: "nav-link text-dark" %></li>
                <li class="nav-item mr-4 border border-primary"><%= link_to "商品一覧", customer_items_path,class: "nav-link text-dark" %></li>
                <li class="nav-item mr-4 border border-primary"><%= link_to "新規登録", new_customer_registration_path,class: "nav-link text-dark" %></li>
                <li class="nav-item mr-4 border border-primary"><%= link_to "ログイン" , new_customer_session_path,class: "nav-link text-dark" %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
